extends layout

block hero-unit
  .jumbotron

block content
  .container.text-center
    h4 You can find all the events here.
    br
  .container.text-center
    .row
      .col-sm-4
        .card
          br
          h4.card-title Card title
          br
          img.card-img-top(src='/images/card1.png', alt='Card image cap', height='200px')
          .card-block
            p.card-text ...
      .col-sm-4
        .card
          br
          h4.card-title Card title
          br
          img.card-img-top(src='/images/card2.png', alt='Card image cap', height='200px')
          .card-block
            p.card-text ...
      .col-sm-4
        .card
          br
          h4.card-title Card title
          br
          img.card-img-top(src='/images/card3.png', alt='Card image cap', height='200px')
          .card-block
            p.card-text ...
