extends layout

block hero-unit
  .jumbotron

block content
  .container

block card
  .container.text-center
    .row
      .col-sm-4
        .card
          img.card-img-top(src='/images/card1.png', alt='Card image cap', height='200px')
          .card-block
            h4.card-title Card title
            p.card-text ...
      .col-sm-4
        .card
          img.card-img-top(src='/images/card2.png', alt='Card image cap', height='200px')
          .card-block
            h4.card-title Card title
            p.card-text ...
      .col-sm-4
        .card
          img.card-img-top(src='/images/card3.png', alt='Card image cap', height='200px')
          .card-block
            h4.card-title Card title
            p.card-text ...
